* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

.topo {
    background: #990000;
    padding: 15px 0;
}
.topo p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}
.topo a {
    position: relative;
    top: 3px;
    margin-left: 20px;
}
.topo a:hover .fa {
    color: #ccc;
}
.topo .fa {
    font-size: 22px;
    color: #fff;
    transition: 1s;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    height: 115px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.navbar-header .navbar-brand {
    height: 115px;
    display: flex;
    align-items: center;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.logo-branca {
    display: none!important;
}
#bs-example-navbar-collapse-1 {
    float: right;
    height: 115px;
    padding: 0;
}
.navbar-header img {
    margin-left: 15px;
}
ul.nav {
    height: 115px;
    display: flex;
    align-items: center;
}
ul.nav>li {
    border-left: 1px solid #ccc;
    height: 115px;
    display: flex;
    align-items: center;
}
ul.nav>li:nth-child(1),
ul.nav>li:nth-child(2) {
    border-left: none;
}
ul.nav>li>a {
    font-size: 14px;
    color: #333333!important;
    text-transform: uppercase;
    padding: 10px 20px;
}
ul.nav>li>a:hover {
    font-weight: 700;
}
ul.nav i.fa.fa-home {
    font-size: 30px;
    color: #990000;
    transition: 1s;
}
ul.nav a:hover i.fa.fa-home {
    color: #333333;
}

.produtos {
    background: #e4e4e4;
    padding: 30px 0;
}
.produtos form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.produtos input.form-control {
    border: 2px solid #990000;
    max-width: 360px;
}
.produtos button {
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
    height: 34px;
    background: #990000;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}
.produtos button:hover {
    background: #333;
}
.produtos img {
    height: 180px;
    object-fit: cover;
}
.produtos .content {
    background: #fff;
    padding: 15px 0;
}
.produtos p {
    font-size: 16px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produtos span {
    font-size: 26px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #990000;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    margin-right: 10px;
    transition: 1s;
}
.produtos a:hover span {
    background: #333;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    #bs-example-navbar-collapse-1 {
        float: none;
        background: transparent;
        z-index: 300;
        position: relative;
        min-height: 300px;
        height: 100%;
        padding: 10px 30px;
        width: 100%;
        margin: 0 auto;
        top: -30px;
    }
    .navbar-toggle {
        padding: 15px 15px;
        margin-top: 20px;
    }
    .navbar-toggle {
        margin-top: 75px;
    }
    .navbar-header {
        height: 90px;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    .navbar-nav {
        width: 100%;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}